body {
  align-items: center;
  text-align: center;
}
h4 {
  align-items: left;
  text-align: left;
}
.perguntas{
  align-items:left;
  text-align: left;
  font-size: 30px;
}
.botoesP {
  background-color: lightblue;
  width:50%;
  height: 100px;
}
.R{
  align-items: center;
  text-align: center;
  font-size: 30px;
}